<!DOCTYPE html>
<html>
<head>
	<title>Express sessions</title>	
</head>
<body>
	<h1>You have successfully authenticated using express session management!
	Enjoy all the resources</h1>
</body>
</html>
