<!DOCTYPE html>
<html>
<head>
	<title>Express sessions</title>
</head>
<body>
	<% if(typeof message != 'undefined') {%> <h1> <%=  message  %> </h1> <% }
	 if(typeof error != 'undefined') { %> <h2> <%=  error  %> </h2> <% } %>
</body>
</html>