<!DOCTYPE html>
<html>
<head>
	<title>Welcome</title>
</head>
<body>
<h1>Welcome <%= name %><a style= "float:right" href="/logout">Logout</a></h1>
<br/><br/>
<h3>You can access any resource here. Access the below!</h3>
<ul>
	<li>Resource 1</li>
	<li>Resource 2</li>
	<li>Resource 3</li>
	<li>Resource 4</li>
	<li>Resource 5</li>
</ul>
</body>
</html>